@model GerenciadorDespesas.ViewModels.EstatisticasViewModel


<div>
    <p>Despesas cadastradas : @Model.QuantidadeDespesas</p>
    <p>Menor depesa : @Model.MenorDespesa</p>
    <p>Maior depesa : @Model.MaiorDespesa</p>
</div>

